{% extends 'template.html' %}
{% block content %}
    {% if history %}
        <table class="table-auto border-collapse border border-slate-500">
            <thead>
                <tr>
                    <th class="border border-slate-600">Message</th>
                    <th class="border border-slate-600">Audio</th>
                    <th class="border border-slate-600">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                    <tr>
                        <td class="border border-slate-700">{{ item['message'][:50] + '...' * (item['message']|length > 50) }}</td>
                        <td class="border border-slate-700">
                            <audio controls>
                                <source src="audio/{{ item['id'] }}" type="audio/wav">
                                Your brower doesn't support audio.
                            </audio>
                        </td>
                        <td class="border border-slate-700">{{ item['time'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="{{ url_for("history") }}">
            <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:ring-red-200 dark:focus:ring-red-900 hover:bg-red-800">
                Clear History
            </button>
        </form>
    {% else %}
        <div class="text-gray-700" role="alert">No history yet.</div>
    {% endif %}
{% endblock %}
