<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Azure Text to Speech</title>
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='images/favicon.svg')}}"
      sizes="any"
      type="image/svg+xml"
    />
  </head>

  <body>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <h1
          class="text-3xl font-medium title-font text-gray-900 mb-12 text-center"
        >
          Azure Text to Speech
        </h1>
        <div class="flex flex-wrap -m-4">
          <div class="w-1/6"></div>
          <div class="w-4/6">
            <ul class="flex flex-wrap border-b border-gray-200">
              <li class="mr-2">
                <a
                  href="{{url_for('index')}}"
                  aria-current="page"
                  class="inline-block {% if url_for(request.endpoint) in ['/index', '/speech'] %}active bg-gray-100 text-blue-600{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %} rounded-t-lg py-4 px-4 text-sm font-medium text-center"
                  ><i
                    class="fa fa-headphones-simple text-xl {% if url_for(request.endpoint) in ['/index', '/speech'] %}text-green-500{% endif %}"
                  ></i>
                  Speech</a
                >
              </li>
              <li class="mr-2">
                <a
                  href="{{url_for('history')}}"
                  class="inline-block {% if url_for(request.endpoint) in ['/history'] %}active bg-gray-100 text-blue-600{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %} rounded-t-lg py-4 px-4 text-sm font-medium text-center"
                  ><i
                    class="fa fa-clock-rotate-left text-xl {% if url_for(request.endpoint) in ['/history'] %}text-green-500{% endif %}"
                  ></i>
                  History</a
                >
              </li>
              <li class="mr-2">
                <a
                  href="#"
                  class="inline-block text-gray-500 hover:text-gray-600 hover:bg-gray-50 rounded-t-lg py-4 px-4 text-sm font-medium text-center"
                  ><i class="fa fa-gear text-xl"></i> Setting</a
                >
              </li>
            </ul>
            {% block content %}{% endblock %}
          </div>
          <div class="w-1/6"></div>
        </div>
      </div>
    </section>
  </body>
</html>
